* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: darkslategray;
}

header {
    width: 100%;
    height: 50px;
    margin-bottom: 0;
}

.banna {
    width: 60px;
    color: sienna;
    text-transform: uppercase;
    text-align: left;
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
    float: left;
    word-break: break;
}

.date {
    width: 20px;
    margin-left: 20px;
    float: right;
    text-transform: capitalize;
    text-align: center;
    align-items: center;
    align-self: center;
    align-content: center;
    font-size: medium;
}

nav {
    margin-bottom: 0;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    float: right;
}

a {
    text-decoration: none;
    color: white;
    padding-left: 10px;
}

.desc {
    text-align: center;
    align-content: center;
    align-items: center;
}

.desc-1 {
    height: 200px;
    background: rgb(80, 201, 80);
    text-align: center;
    align-content: center;
    align-items: center;
}

section {
    background: whitesmoke;
    height: auto;
    min-width: 33.33%;
    margin: 0 auto;
    padding: 4px;
    border: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(33.33% 1fr));
    grid-template-rows: repeat(auto-fit, minmax(33.33% 1fr));
}

img {
    height: 330px;
    width: 100%;
    overflow: hidden;
    background: firebrick;
}

.describe {
    float: left;
    width: 80%;
    left: 500px;
    top: 10px;
    border-right: 4px solid whitesmoke;
    margin-right: 2px;
    padding: 4px;
    margin-top: 0;
    margin-bottom: 0;
}

.image {
    width: 90%;
    float: right;
    top: 20px;
    margin-left: 10px;
    padding: 4px;
    align-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 0;
    position: relative;
}

.image img {
    width: 100px;
    height: 95px;
    border-radius: 50%;
    align-items: center;
    align-content: center;
    align-self: center;
    text-align: center;
    margin-bottom: 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.left {
    width: 30%;
    margin-top: 0;
    left: 50px;
    float: left;
    margin-right: 10px;
    padding: 4px;
}

.right {
    width: 100%;
    margin-top: 0;
    float: right;
    margin-left: 5px;
    padding: 4px;
}

.left span {
    width: 90%;
    height: 100px;
    margin-top: 0;
}

.right span {
    width: 90%;
    height: 100px;
    margin-top: 0;
}

.right span iframe {
    width: 90%;
    height: 160px;
    margin-top: 0;
}

.right span a {
    color: darkolivegreen;
    font-size: large;
    font-weight: 700;
}

.end {
    position: fixed;
    float: right;
    right: auto;
}

.form {
    /* width: 500px; */
    height: auto;
    margin-left: 25px;
    margin-right: 25px;
    border: 1px solid darkslategray;
    align-items: center;
    align-self: center;
    align-content: center;
    text-align: center;
}

input,
select {
    width: 400px;
    height: 30px;
    margin: 4px;
    border-inline: 1px solid darkslategray;
}

textarea {
    width: 400px;
    margin: 4px;
    border-inline: 1px solid darkslategray;
}

.button {
    background: darkolivegreen;
    border-inline: 1px solid darkslategray;
    margin-bottom: 4px;
}

footer {
    width: 100%;
    height: 20px;
    margin-bottom: 0;
    margin-top: 0;
}

.copyright {
    float: left;
}

.footer-nav {
    float: right;
}